.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.grid-item {
  width: 10%;
  height: 10%;
  background: red;
  border: 1px solid gray;
  box-sizing: border-box;
}

.grid-item.blocked {
  background: black;
}

.grid-item.entry,
.grid-item.exit {
  background: gray;
}

.grid-item.enabled {
  background: green;
}

@keyframes flickerAnimation {
  /* flame pulses */
  0% {
    background: red;
  }
  50% {
    background: blue;
  }
  100% {
    background: red;
  }
}
.grid-item.changing {
  animation: flickerAnimation 1s infinite;
}

.grid-item.flowing {
  background: blue;
}
